* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0.5rem;
  }
  nav {
    ul {
      display: flex;
      li {
        list-style: none;
        margin: 0.5rem;
      }
    }
  }
  img {
    display: none;
  }
}

section.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #ddeef8;
  h1 {
    font-size: 40px;
  }
}
main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;

  section.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      background-color: #ccdde8;
      display: flex;
      width: 49%;
      align-items: center;
      margin-bottom: 1rem;
      img {
        height: 50px;
        width: 80px;
      }
      h4 {
        font-weight: normal;
        margin-left: 0.5rem;
      }
    }
  }
  section.bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      background-color: #ccdde8;
      width: 23.7%;
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
      h3 {
        text-align: center;
        font-weight: normal;
        margin-top: 10px;
      }
    }
  }
}

@media screen and(max-width:1200px) {
  main {
    width: 90%;
    section.bottom {
      div {
        width: 49%;
      }
    }
  }
}

@media screen and(max-width:600px) {
  header {
    nav {
      display: none;
    }
    img {
      display: block;
      height: 38px;
      margin-right: 8px;
    }
  }
  main {
    section.top {
      justify-content: center;
      div {
        width: 100%;
      }
    }
    section.bottom {
      justify-content: center;
      div {
        width: 100%;
      }
    }
  }
}
@media screen and(max-width:370px) {
  section.intro {
    h1 {
      font-size: 32px;
    }
  }
}
